.image-selector-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-selector {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.image-selector img {
    width: 200px;
}

.selected-img {
    outline: 4px solid gold;
    outline-offset: -4px;
}